<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="navFragment"
     class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-m">
    <h5 class="my-0 mr-md-auto font-weight-normal">Modim</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark" href="#">도서 목록</a>
        <a class="p-2 text-dark" href="#">사내 문서</a>
        <a class="p-2 text-dark" href="#">게시판</a>
        <a class="p-2 text-dark" href="#">관리자</a>
    </nav>
    <a class="btn btn-outline-info" href="#">로그인</a>
</div>
</html>